html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    background-color: #579C87;
    text-align: center;
    color: rgb(255, 247, 97);
    margin-top: 0%;
    margin-left: 0%;
    height: 15rem;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 50rem;
}

#title {
    margin-top: 0%;
    padding-top: 5rem;
    font-size: 5rem;
    font-weight: bolder;
}

footer {
    height: 5rem;
    width: 100%;
    background-color: #579C87;
    position: absolute;
    bottom: 0;
}
