html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    background-color: #579C87;
    text-align: center;
    color: rgb(255, 247, 97);
    margin-top: 0%;
    margin-left: 0%;
    height: 10rem;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 50rem;
    display: flex;
    flex-direction: column;
}

#title {
    margin-top: 0%;
    padding-top: 2rem;
    font-size: 5rem;
    font-weight: bolder;
}

#content {
    width: 60%;
    display: flex;
    margin-top: 5%;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
    flex-wrap: wrap;
    align-items: stretch;
    height: 75vh;
}

.menuImg {
    max-height: 40%;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 5px;
    flex: 0 50%;
}

#menuLaNoteEnchantee {

}

#menuLeChicALaFrancaise {

}

footer {
    height: 5rem;
    width: 100%;
    background-color: #579C87;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#mentionsLegalesLink {
    float: left;
    color: rgb(255, 247, 97);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2%;
}

.wiggle:hover {
    animation: wiggle 250ms infinite;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }

    25% {
        transform: translate(-2px, 0);
    }

    50% {
        transform: translate(2px, 0);
    }

    75% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(2px, 0);
    }
}

#contactezNousLink {
    float: right;
    color: rgb(255, 247, 97);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 2%;
}